html[data-theme='light'] {
    --bg: white;
    --color-text: black;
    --color-border: black;
    --color-button: black;
    --color-button-text: white;
    --color-button-active: black;
}

html[data-theme='dark'] {
    --bg: black;
    --color-text: white;
    --color-border: white;
    --color-button: white;
    --color-button-text: black;
    --color-button-active: white;
}

body {
    background-color: var(--bg);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    border-style: solid;
    border-color: var(--color-border);
    border-width: 10px;
    color: var(--color-text);
    font-size: 15px;
    text-align: center;
}
#capt{
    stroke: var(--color-text);
    font-size:9.6px;
}

#areas polygon:not(#triangle, #square){
    fill: var(--color-text);
    stroke:var(--color-text);
}
#areas line{
    stroke:var(--color-text);
}

#areas #triangle{
    stroke:var(--color-text);
}
#areas #circle{
    stroke:var(--color-text);
}
#areas #square{
    stroke:var(--color-text);
}


.form-block {
    background-color: var(--bg);
    color: var(--color-text);
    border-color: var(--color-border);
    border: 5px solid;
    border-radius: 7px;
    padding: 1%;
    float: left;
    margin-top: 3%;
    text-align: center;
    font-size: 17px;
}

label {
    display: block;
}

.r-radio {
    text-align: left;
    margin: 1%;
}

input {
    width: 150px;
    height: 20px;
    border: 3px dashed #95918C;
}

input[type="radio"] {
    cursor: pointer;
    width: 150px;
    height: 15px;
}

.data-button {
    display: block;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 1%;
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid;
    border-color: var(--color-border);
    color: var(--color-button-text);
    height: 35px;
    padding: 1px;
    background-color: var(--color-button);
    cursor: pointer;
}

.data-button:hover {
    background-color: #DCDCDC;
}

.data-button:active {
    background-color: var(--color-button-active);
}

#table {
    margin-left: 4%;
}

#table th, td {
    border: 3px dashed #95918C;
    text-align: center;
}

caption {
    font-size: 25px;
    margin: 1%;
}
.result-table{
    margin-left: 10%;
    color:var(--color-text);
}
.result-table th,td{
    border: 3px dashed #95918C;
    text-align: center;
}

.change-theme-button {
    margin-right: 95%;
    margin-bottom: 1%;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.change-theme-button:hover {
    background-color: #808080;
}

.change-theme-button:active {
    background-color: white;
}
.return-button{
    display: block;
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid;
    border-color: var(--color-border);
    color: var(--color-button-text);
    height: 35px;
    padding: 1px;
    background-color: var(--color-button);
    cursor: pointer;
}
.return-button:hover {
    background-color: #DCDCDC;
}

.return-button:active {
    background-color: var(--color-button-active);
}

.buttons {
    border: none;
    text-align: center;
}

